body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-between;
}

div {
    font-size: 120px;
}

input:hover {
    cursor: pointer;
}

input {
    width: 100px;
    margin: 10px;
    border: none;
    padding: 0;
}

label {
    font-size: 30px;
    margin: 10px;
}